{% extends 'jobseeker/layouts/base.html' %} {% block content %} {% load static %}

    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Change Password</h2>
        <p>Change your password to secure your account.</p>
      </div><!-- End Section Title -->

      <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_old_password">Old Password</label>
                <input type="password" name="old_password" id="id_old_password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="id_new_password">New Password</label>
                <input type="password" name="new_password" id="id_new_password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="id_confirm_password">Confirm New Password</label>
                <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
      </div>
    </section>

{% endblock %}